table{
    border: 4px solid black;
    background-color: rgb(180, 180, 180);
    position: absolute;
    top: 20vw;
    left: 46.5vw;
}

.row{
    display: flex;
    justify-content: flex-end;
    margin: auto;
}



.nums{
    background-color: red;
    border-color: red;

}

.ops{
    background-color: aquamarine;
    border-color: aquamarine;
    width: 25px;
}

h1{
    margin-top: px;
    margin-bottom: 3px;
}

body {
    background-color: rgb(125, 139, 169);;
}